# Instructions

Fork this repository to start working on the assignment.

Here are the base CSS styles to start with.

```css
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.icon {
  font-size: 4rem;
}
```

/* styling page header */
.siteheader{
    margin:1.5rem;
}
/* Grid properties to layout the emoji cards */

/* this container holds all emoji cards.*/.  
.emojis{
    display: grid; /* CSS Grid is used to layout cards */
    grid-template-columns: repeat(2, 1fr); /* creating two colums */
    gap: 2rem;  /* making space between cards */
    padding: 2rem;
}

/* flexbox properties to layout the content of the emoji cards */

/* each emoji card is a flex container so the content flows from top to bottom and can be spaced more easily. */
.emoji{
    display:flex;
    flex-direction: column;
    background-color: #fff;
}

/* Content order */

.icon{
    margin: 1rem 0; /* adds space around the emoji icocon so it doesnt feel cramped between the heading and text*/
}

.emoji p{
    margin: 1rem 0; /*improves readability by adding spaces between paragraphs*/
}

/* Align buttons using flex box  */
.emoji a{
    margin-top: auto;
    display: inline-block;
    text-align: center;
}